<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<div class="container">
    <div class="center">
        <h1>add new product</h1>
        <form> method="post" enctype="multipart/form-data" th:object="${productDto}">
            <div class="input-block">
                <label for="name">name</label>
                <div class="input-row">
                    <input id="name" th:field="${productDto.name}">
                    <p th:errorClass="text-error" th:errors="${productDto.name}"
                       th:if="${#fields.hasErrors('name')}"></p>
                </div>
            </div>

            <div class="input-block">
                <label for="category">category</label>
                <div class="input-row">
                    <select id="category" th:field="${productDto.category}">
                        <option value="other">other</option>
                        <option value="phone">phone</option>
                        <option value="computer">computer</option>
                        <option value="accessory">accessory</option>
                        <option value="printer">printer</option>
                        <option value="camera">camera</option>
                    </select>
                    <p th:errorClass="text-error" th:errors="${productDto.category}"
                       th:if="${#fields.hasErrors('category')}"></p>
                </div>
            </div>

            <div class="input-block">
                <label for="price">price</label>
                <div class="input-row">
                    <input id="price" step="0.01" th:field="${productDto.price}" type="number">
                    <p th:errorClass="text-error" th:errors="${productDto.price}"
                       th:if="${#fields.hasErrors('price')}"></p>
                </div>
            </div>

            <div class="input-block">
                <label for="description">description</label>
                <div class="input-row">
                    <input id="description" th:field="${productDto.description}">
                    <p th:errorClass="text-error" th:errors="${productDto.description}"
                       th:if="${#fields.hasErrors('description')}"></p>
                </div>
            </div>

            <div class="input-block">
                <label>image</label>
                <div class="input-row">
                    <input th:field="${productDto.imageFile}" type="file">
                    <p th:errorClass="text-error" th:errors="${productDto.imageFile}"
                       th:if="${#fields.hasErrors('imageFile')}"></p>
                </div>
            </div>

            <div class="input-block">
                <div class="grid">
                    <button class="button" type="submit">submit</button>
                    <button class="button" type="reset">cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>