<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products List</title>
    <link rel="stylesheet" th:href="@{/css/products.css}">
</head>
<body>
<section>
    <!-- Debug information -->
    <!--    <div>-->
    <!--        <p th:text="${'Products list is null: ' + (products == null)}"></p>-->
    <!--        <p th:text="${'Products list is empty: ' + (#lists.isEmpty(products))}"></p>-->
    <!--        <p th:text="${'Products size: ' + (#lists.isEmpty(products) ? 0 : products.size())}"></p>-->
    <!--    </div>-->

    <div th:replace="~{fragments/product-components :: product-admin-actions}"></div>

    <div class="alert" th:if="${products == null || products.isEmpty()}">
        <span>No products found</span>
    </div>

    <table class="products table" th:if="${!#lists.isEmpty(products)}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Price</th>
            <th>Image</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Product rows -->
        <th:block th:each="product : ${products}">
            <tr th:replace="~{fragments/product-components :: product-card(productData=${product})}">
            </tr>
        </th:block>
        </tbody>
    </table>
</section>
<script th:src="@{/js/products.js}"></script>
</body>
</html>