<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Navbar Fragment -->
<div class="navbar" th:fragment="navbar">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <!-- Logo or Brand -->
    <div class="navbar-brand">
        <a class="navbar-logo" th:href="@{/}">ShoppingCart</a>
    </div>
    <!-- User Account and Logout Section -->
    <div>
        <!-- Show different content based on authentication status -->
        <div class="navbar-user" sec:authorize="isAuthenticated()">
            <!-- Username display -->
            <!--            <span class="username" sec:authentication="name">Username</span>-->
            <!-- Logout Form -->
            <form class="logout-form" method="post" th:action="@{/logout}">
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                <button class="button outline" type="submit">logout</button>
            </form>
        </div>

        <!-- Login and Register links for unauthenticated users -->
        <div class="navbar-user" sec:authorize="!isAuthenticated()">
            <a class="login-link" th:href="@{/login}">login</a>
        </div>
    </div>

    <nav>
        <!-- Navigation Links -->
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a class="navbar-link" th:href="@{/}">Home</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" th:href="@{/products}">Products</a>
            </li>
            <!-- Add more navigation items as needed -->
            <div th:replace="~{components/cart :: cart}"></div>
        </ul>
    </nav>


</div>
</body>
</html>