<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Product Row Fragment -->
<tr th:fragment="product-row(productData)" th:with="product=${productData}">
    <!-- Debug info -->
    <!--    <td th:text="${'Debug: ' + product}"></td>-->

    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.brand}"></td>
    <td th:text="${product.category}"></td>
    <td th:text="${product.price}"></td>
    <td>
        <img alt="Product Image"
             th:src="${product.imageFileName != null} ? @{'/images/' + product.imageFileName} : @{'/images/default-product.png'}">
    </td>
    <td th:text="${product.createDate}"></td>
    <td class="nowrap" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
        <div th:replace="~{components/button-anchor :: button-anchor('Edit', @{/products/edit(id=${product.id})}, 'button secondary')}"></div>
        <div th:replace="~{components/delete-button :: delete-button(${product.id})}"></div>
    </td>
</tr>


<!-- Products table fragment -->
<table class="products table" th:fragment="product-table(products)" th:if="${!#lists.isEmpty(products)}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
        <th>Image</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="product : ${products}">
        <tr th:replace="~{fragments/product-components :: product-row(productData=${product})}">
        </tr>
    </th:block>
    </tbody>
</table>

<!-- Product Admin Actions Fragment -->
<div th:fragment="product-admin-actions">
    <div sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
        <div th:replace="~{components/button-anchor :: button-anchor('Create Product', @{products/create}, 'button-primary')}"></div>
    </div>
    <div sec:authorize="hasRole('MANAGER')">
        <button class="btn btn-warning">Manager Special Action</button>
    </div>
</div>
</body>
</html>