.clickable {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s;
}

.clickable-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.clickable:hover {
    background-color: rgba(0, 0, 0, 0.05);
}