.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 400px;
    margin: auto;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: fixed;
}

form {
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column;
}

form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
}

.form-control-file {
    border: none;
    background: none;
}

input {
    width: 100%;
    border: 1px solid #c0c0c0;
    height: 2rem;
    padding: 0 0.75rem;
    box-sizing: border-box;
    font-weight: 500;
    border-radius: .5rem;
    background-color: #fcfcfc;
    font-size: 1rem;
}

textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: rgb(250, 250, 250);
    resize: none;
}