.product-card {
    border: #afafaf solid 1px;
    display: grid;
    padding: 1rem;
    max-width: 240px;
    border-radius: 0.5rem;
    justify-items: center;
    background-color: white;
    grid-template-rows: 3fr 2.5rem 3rem;
    box-shadow: rgb(0 0 0 / 25%) -16px 0px 32px -8px;
}

.product-card .image {
    display: flex;
    max-width: 12rem;
    min-width: 8rem;
    max-height: 12rem;
    min-height: 8rem;
    margin-bottom: 1rem;
}

.product-card img {
    margin: auto;
    max-width: inherit;
    max-height: inherit;
}

.product-card .name {
    width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    align-self: center
}

.product-card h3 {
    text-align: center;
    font-size: 1rem;
    margin: 0;
}

.product-card p {
    display: inline-block;
    margin-right: 1rem;
}

.product-card button {
    color: white;
    background-color: black;
    border-radius: 1rem;
    padding: 0.2rem 0.6rem;
}

.image-container {
    width: -webkit-fill-available;
    max-width: 240px;
    height: 180px;
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.image-container:hover img {
    transform: scale(1.2);
}
