<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h2>Register</h2>


<!-- Success Alert -->
<div class="alert success" role="alert" th:if="${param.success}">
    <strong>Account created successfully</strong>
    <div class="alert-actions">
        <a class="button primary" href="/login">Login</a>
        <button class="button" onclick="this.closest('.alert').style.display='none'">Close</button>
    </div>
</div>


<form method="post" th:action="@{/register}" th:object="${registrationDto}">
    <div>
        <input th:field="*{email}" type="email"/>
        <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
    </div>
    <div>
        <input th:field="*{password}" type="password"/>
        <span th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></span>
    </div>
    <div>
        <input th:field="*{confirmPassword}" type="password"/>
        <span th:errors="*{confirmPassword}" th:if="${#fields.hasErrors('confirmPassword')}"></span>
    </div>
    <button type="submit">Register</button>
</form>
</body>
</html>